body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    
}

.header{
    display: flex;  
    justify-content: space-between;
    padding: 10px;
    background-color: #1f2937;
    color: white;
    padding-left: 250px;
    padding-right: 250px;
}

ul{
    list-style: none;
    display: flex;
    font-size: 18px;
    gap: 16px;
}

a{
    text-decoration: none;
    color: white;
    
}


.right{
    display: flex;
    gap: 15px;
}

.leftside{
    font-weight: 900 ;
    align-self: center;
    font-size: 24px;
}

.first{
    background-color: #1f2937;
    color: white;
    padding: 50px;
    display: flex;
    padding-left: 250px;
    padding-right: 250px;
}

.main{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

.image{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: rgb(179, 175, 175);
}

.title{
    font-size: 36px;
    font-weight: 800;
}

.textone{
    font-size: 18px;
    color: #b5bbc4;
}

.buttonone{
    background-color:#3882F6;
    border: 0px;
    color: white;
    
}

.buttonone:hover{
background-color: white;
color: #3882F6;
}

button{
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    transition-duration: 0.4s;
    font-size: 20px;
}

.second{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 20px   ;
}

.squareholder{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.squares{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 20px   ;
}

.images{
    
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 15px;
    text-align: center;
}

.embedtext{
    width: 200px;
    color: #898c90;
    text-align: center;
    font-size: 18px;
}

.third{
    display: flex;
    flex-direction: column;
    padding: 100px;
    background-color: #898c90;
    align-items: center;
    gap: 15px;
}

.centertext{
    font-size: 30px;
    font-style: italic;
    text-align: left;
    padding-left: 300px;
    padding-right: 300px;
    height: auto;
}

.author{
    text-align: right;
    padding-left: 1200px;
    padding-right: 300px;
    font-weight: 600;
}

.fourth{
    display: flex;
    padding: 100px;
    justify-content: center;
    color: white;
}

.container{
    display: flex;
    background-color: #3882F6;
    gap: 80px;
    padding: 50px;
    border-radius: 20px;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: center;
    align-items: center;
}

.textholder{
    display: flex;  
    flex-direction: column;
    gap: 10px;
}

.subtle{
    font-size: 18px;
}

.buttontwo{
    background-color: #3882F6;
    border-color: white;
    color: white;
    border-style: solid;
}

.buttontwo:hover{
    background-color: white;
    color: #3882F6;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
    padding: 50px;
    margin-top: auto;
    font-size: 18px;
}